.index {
    &__main {

        & .business-cards {

            @apply .p-4 .border .border-solid .border-gray-200 .rounded .mb-5 .flex;

            &:hover {
                @apply .bg-gray-100;
            }

            & .image-container {
                min-width: 300px;
                width: 300px;

                & img {
                    width: 100%;
                    height: 150px;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }

    &__aside {
        width: 300px;
    }
}
