.index {
    &__main {

        .add__button {
            @apply .self-end .inline-block .bg-red-500 .text-white .button .mb-4 .px-3 .py-2 .flex .rounded .items-center;
        }

        & .business-cards {

            
            @apply .p-4 .border .border-solid .border-gray-200 .rounded .mb-5;

            @media only screen and (min-width: 1024px) {
                @apply .p-4 .border .border-solid .border-gray-200 .rounded .mb-5 .flex;
            }

            &:hover {
                @apply .bg-gray-100;
            }

            & .image-container {
                min-width: 300px;
                width: 300px;

                @media only screen and (max-width: 1024px) {
                    margin-bottom: 15px;
                    width: 100%;
                } 

                & img {
                    width: 100%;
                    height: 150px;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 3px;
                }
            }
        }
    }

    &__aside {
        @apply .p-6 .border .border-2 .border-solid .border-gray-600 .rounded .mb-4;
        @media only screen and (max-width: 1024px) {
            @apply .p-6 .border .border-2 .border-solid .border-gray-600 .rounded;
        }
    }
}
