.header {
  height: 65vh;
  background-repeat: no-repeat;
  background-size: cover;

  @apply .flex .items-center .justify-center .relative;


   @media only screen and (max-width: 678px) {
      @apply .flex .flex-col .items-center .justify-center;
   }

  input {
    @apply .bg-white .px-5 .py-3 .rounded-lg .text-sm .border-2 .border-gray-300;
    width: 450px;

    @media only screen and (max-width: 678px) {
      width: 80%;
    }
  }

  button {
    @apply .bg-red-600 .text-lg .px-8 .py-3 .rounded-lg .text-white;
    transform: translateX(-25px);

    @media only screen and (max-width: 678px) {
        width: 80%;
        display: block;
        transform: translateX(0);
        margin-top: 15px;
    }
  }

  .image__credits {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.45);
    @apply .py-3 .px-8 .rounded;
  }
}